.page {
  display: grid;
  grid-template-columns: 1fr 3fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.search-bar {
  grid-column: span 4;
  padding: 20px;
}

.main-content {
  grid-column: span 2;
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}
